* {
    font-family: 'Raleway', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
}

.header {
    grid-area: header;
    background-color: #1ABC9C;
    color: white;
    padding: 0 15px;
}

.header h1 {
    margin: 20px 0;
    flex-basis: 25%;
}

.stick-right {
    display: flex;
    flex-basis: 75%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#bell-icon,
.header-image,
.header-name {
    padding: 0 5px;
}

#bell:hover {
    animation-name: bell;
    animation-duration: 2s;
}

@keyframes bell {
    0%   {transform: scale(1.3);}
    25%  {transform: scale(0.8);}
    50%  {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.header-image {
    padding-left: 15px;
}

#notifications {
    position: relative;
    top: -47px;
    left: 27px;    
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: tomato;
}

#bell-icon {
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px darkslategrey solid;
}

h1, h2, h3 {
    font-weight: 300;
}

h3 {
    text-transform: uppercase;
    font-weight: 500;
}

h1 span {
    font-weight: 600;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navigation  {
    grid-area: navigation;
    background-color: #148F77;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation img {
    width: 40px;
    padding: 10px 0;
}

.main {
    grid-area: main;
    display: grid;
    background-color: #E5E8E8;
    color: darkslategrey;
}

.main-header {
    padding: 0 20px;
    border-bottom: 1px darkslategrey solid;
}   

.headline {
    padding-right: 20px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-header-search input {
    margin-bottom: 20px;
}

input, textarea, button, select {
    padding: 10px; 
    border-radius: 5px; 
    border: 1px darkgray solid;
}

.alert-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 0 10px;
    background-color: #1ABC9C;
    border-radius: 5px;
    color: white;
}

.alert-banner-close {
    font-weight: bold;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

#bell {
    width: 45px;
}

/* .traffic, .daily,  {
    display: none;
} */

.traffic, .users, .daily,
.social, .new-member, .recent-activity,
.new-member, .message, .settings {
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
    padding: 10px;
    border-bottom: .5px darkslategrey solid;
}

.social-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.social-container {
    height: 150px;
    width: 30%;
    border: 1px darkslategrey solid;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
}

.social-color {
    fill: white;
}

.social-image {
    margin: 20px;
}

.social-text > p:nth-child(1) {
    color: #1ABC9C;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 20px;
}

.social-text > p:nth-child(2) {
    font-size: 3rem;
    margin: 0 auto;
}


#twitter, #facebook, #googleplus {
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 25%;
}

.social-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1ABC9C;
}

.members-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 0px;
    border-bottom: 1px darkslategrey solid;
    flex-wrap: wrap;
}

.members-container:last-child {
    border: none;
}

.members-container > p {
    text-align: right;
}

.members-text p {
    margin: 0;
}

.members-text a {
    text-decoration: none;
    color: #1ABC9C;
}

.members-text {
    padding-left: 10px;
    text-align: left;
}

.lessthan {
    color: #1ABC9C;
    font-size: 2em;
    margin-top: 7px;
    margin-bottom: 7px;
}

.widget-container {
    display: flex;
    flex-direction: column;
}

#userField, #messageField, #send {
    margin: 10px 0;
}

#messageField {
    height: 6em;
}

.button-primary {
    background-color: #1ABC9C;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    height: 3.5em;
}

.button-disabled {
    background-color: #ABB2B9 ;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    height: 3.5em;
}

.settings p {
    font-weight: 600;
}

.settings {
    display: flex;
    flex-direction: column;
}

.settings-button {
    display: flex;
    justify-content: space-between;
}

#save, #cancel {
    width: 47.5%;
    margin: 20px 0;
}

#timezone {
    color: darkslategrey;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
        "header header"
        "navigation main";
    }

    .main {
        grid-template-columns: 50% ;
    }

    .main-header, .alert {
        grid-column: 1 / span 2;
    }

    .traffic, .social {
        grid-column: 1 / span 2;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
        max-width: 1000px;
        margin: 0 auto;
    }

    .widget-container-half {
        width: 45vw;
        max-width: 500px;
        margin: 0 auto;
    }

    .navigation {
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 15px;
    }

    .navigation img {
        width: 25px;
        padding: 20px 0;
    }

    .social-image {
        width: 90px;
        height: 90px;
    }

    .social-contents {
        flex-direction: row;
        align-items: center;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .headline {
        border-right: 1px darkslategrey solid;
    }

    .main-header-search input {
        width: 300px;
        margin-bottom: 0;
    }

    .daily, .new-member, .message {
        border-right: 1px darkslategrey solid;
    }
}